.container {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 50px repeat(5, 20%) 50px;
    grid-gap: 3px;
    grid-template-areas:
        ". h ."
        ". m ."
        ". m ."
        ". m ."
        ". a ."
        ". a ."
        ". f .";
}

.container>header,
main,
footer,
aside {
    padding: 10px;
    color: white;
}

header {
    background-color: blue;
    grid-area: h;
}

main {
    background-color: tomato;
    grid-area: m;
}

footer {
    background-color: greenyellow;
    grid-area: f;
}

aside {
    background-color: orange;
    grid-area: a;
}

@media (min-width: 800px) {
    .container {
        grid-template-columns: 30px 200px 1fr 30px;
        grid-template-rows: 50px repeat(5, 20%) 50px;
        grid-template-areas:
            ". h m ."
            ". h m ."
            ". h m ."
            ". h m ."
            ". h a ."
            ". h a ."
            ". f f .";
    }


}

@media (min-width: 1000px) {
    .container {
        grid-template-columns: 30px 200px 1fr 200px 30px;
        grid-template-areas:
            ". h m a ."
            ". h m a ."
            ". h m a ."
            ". h m a ."
            ". h m a ."
            ". h m a ."
            ". f f a .";
    }
}